<%- include ("partials/header") %>

<table class="table table-dark table-striped">
    <tr>
        <th>Sr. No.</th>
        <th>Event Name</th>
        <th>Event Location</th>
        <th>Date</th>
        <th>Time</th>
        <th>Price</th>
        <th>No. of Participants</th>
        <th>View Event</th>
        <th>Add Participant</th>
    </tr>

    <%
        if(eventData.length !=0){
            let i = 1;
            eventData.forEach((data) => {  
     %> 
            <tr>
                <td> <%= i; %> </td>
                <td><%= data.ename %></td>
                <td><%= data.location %></td>
                <td><%= data.edate %></td>
                <td><%= data.etime %></td>
                <td><%= data.price %></td>
                <td><%= data.participants %></td>
                <td><a class="btn btn-outline-info"  href="/displayEventParticipants/<%=data.uuid%>">View Event</a></td>
                <td><a class="btn btn-outline-success"  href="/event/addParticipant/<%=data.uuid%>">Add Participants</a></td>
            </tr>
            <% 
                i++; }) 
            %>
    <% 
        }
        else { 
    %>
    <tr>
        <td>No Data Found1</td>
    </tr>
    <% } %>
</table>

<%- include ("partials/footer") %>